@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide.active {
  transform: translateX(0);
}
.bg-light {
  background-color: white;
}

.dark-mode {
  background-color: black;
}
/* global.css */

@keyframes moveOutward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px); /* Adjust this value as needed */
  }
}

@keyframes moveInward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px); /* Adjust this value as needed */
  }
}

.box1.outward {
  animation: moveOutward 1s linear forwards;
}

.box1.inward {
  animation: moveInward 1s linear forwards 1s;
}

.box2.outward {
  animation: moveInward 1s linear forwards;
}

.box2.inward {
  animation: moveOutward 1s linear forwards 1s;
}
@keyframes moveContinuous {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Move the full width of the container */
  }
}
